In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dingle,PH,2022-07-17 05:04:32,10.9995,122.6711,86.65,72,93,9.24
1,1,Bluff,NZ,2022-07-17 05:04:33,-46.6000,168.3333,51.80,78,97,16.55
2,2,Atuona,PF,2022-07-17 05:04:33,-9.8000,-139.0333,77.79,72,41,15.12
3,3,Broome,US,2022-07-17 05:04:33,42.2506,-75.8330,68.00,81,0,4.61
4,4,Faya,SA,2022-07-17 05:04:34,18.3851,42.4509,73.92,24,35,5.73

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dingle,PH,2022-07-17 05:04:32,10.9995,122.6711,86.65,72,93,9.24
2,2,Atuona,PF,2022-07-17 05:04:33,-9.8000,-139.0333,77.79,72,41,15.12
5,5,Alice Town,BS,2022-07-17 05:04:34,25.7167,-79.3000,83.55,75,100,14.18
7,7,Sompeta,IN,2022-07-17 05:04:35,18.9333,84.6000,82.58,81,100,6.06
14,14,Ariquemes,BR,2022-07-17 05:04:38,-9.9133,-63.0408,75.20,80,66,0.45
18,18,Hilo,US,2022-07-17 05:04:39,19.7297,-155.0900,81.28,97,100,5.75
19,19,Vila Do Maio,CV,2022-07-17 05:04:40,15.1333,-23.2167,75.27,85,37,12.15
20,20,Alofi,NU,2022-07-17 05:04:40,-19.0595,-169.9187,77.68,74,10,18.86
36,36,Zhezkazgan,KZ,2022-07-17 05:04:47,47.8043,67.7144,82.38,34,0,20.13
44,44,Tiznit,MA,2022-07-17 05:04:50,29.5833,-9.5000,75.43,51,4,1.23

In [12]:
# Check for null values.
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Dingle      PH     86.65  10.9995  122.6711
2         Atuona      PF     77.79  -9.8000 -139.0333
5     Alice Town      BS     83.55  25.7167  -79.3000
7        Sompeta      IN     82.58  18.9333   84.6000
14     Ariquemes      BR     75.20  -9.9133  -63.0408
18          Hilo      US     81.28  19.7297 -155.0900
19  Vila Do Maio      CV     75.27  15.1333  -23.2167
20         Alofi      NU     77.68 -19.0595 -169.9187
36    Zhezkazgan      KZ     82.38  47.8043   67.7144
44        Tiznit      MA     75.43  29.5833   -9.5000

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longtidue.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Dingle,PH,86.65,10.9995,122.6711,SEGAYA PROPERTY
2,Atuona,PF,77.79,-9.8000,-139.0333,Villa Enata
5,Alice Town,BS,83.55,25.7167,-79.3000,Bimini Big Game Club Resort & Marina
7,Sompeta,IN,82.58,18.9333,84.6000,బెంకిలి భైరొడమ్మ క్రికెట్ గ్రౌండ్
14,Ariquemes,BR,75.20,-9.9133,-63.0408,Hotel Sol Nascente - Ariquemes - RO
18,Hilo,US,81.28,19.7297,-155.0900,Hilo Hawaiian Hotel
19,Vila Do Maio,CV,75.27,15.1333,-23.2167,Hotel Marilu
20,Alofi,NU,77.68,-19.0595,-169.9187,Taloa Heights
36,Zhezkazgan,KZ,82.38,47.8043,67.7144,Hotel Zumrat
44,Tiznit,MA,75.43,29.5833,-9.5000,

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))