## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
weather_data_to_load = "../../Weather_Database/WeatherPy_Database.csv"
city_data_df = pd.read_csv(weather_data_to_load)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,69.71,88,0,8.05,clear sky
1,1,Male,MV,4.1748,73.5089,82.36,77,99,17.81,overcast clouds
2,2,Souillac,MU,-20.5167,57.5167,71.98,64,40,21.85,light rain
3,3,Ransang,PH,8.9603,117.5828,84.24,70,100,2.46,heavy intensity rain
4,4,Qaanaaq,GL,77.4840,-69.3632,40.91,73,15,1.45,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jamestown,US,42.0970,-79.2353,69.71,88,0,8.05,clear sky
1,1,Male,MV,4.1748,73.5089,82.36,77,99,17.81,overcast clouds
2,2,Souillac,MU,-20.5167,57.5167,71.98,64,40,21.85,light rain
3,3,Ransang,PH,8.9603,117.5828,84.24,70,100,2.46,heavy intensity rain
8,8,Laguna,US,38.4210,-121.4238,85.01,35,0,8.05,clear sky
10,10,Sao Filipe,CV,14.8961,-24.4956,75.07,83,97,9.46,overcast clouds
11,11,Tuktoyaktuk,CA,69.4541,-133.0374,64.40,82,75,3.44,broken clouds
13,13,Ostrovnoy,RU,68.0531,39.5131,60.53,68,78,4.36,broken clouds
14,14,Rikitea,PF,-23.1203,-134.9692,74.48,74,4,12.80,clear sky
15,15,Zhenlai,CN,45.8495,123.2973,79.45,60,65,8.84,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                477
City                   477
Country                477
Lat                    477
Lng                    477
Max Temp               477
Humidity               477
Cloudiness             477
Wind Speed             477
Current Description    477
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(how='all')

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jamestown,US,69.71,clear sky,42.0970,-79.2353,
1,Male,MV,82.36,overcast clouds,4.1748,73.5089,
2,Souillac,MU,71.98,light rain,-20.5167,57.5167,
3,Ransang,PH,84.24,heavy intensity rain,8.9603,117.5828,
8,Laguna,US,85.01,clear sky,38.4210,-121.4238,
10,Sao Filipe,CV,75.07,overcast clouds,14.8961,-24.4956,
11,Tuktoyaktuk,CA,64.40,broken clouds,69.4541,-133.0374,
13,Ostrovnoy,RU,60.53,broken clouds,68.0531,39.5131,
14,Rikitea,PF,74.48,clear sky,-23.1203,-134.9692,
15,Zhenlai,CN,79.45,broken clouds,45.8495,123.2973,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jamestown,US,69.71,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,Male,MV,82.36,overcast clouds,4.1748,73.5089,Hotel Octave Maldives
2,Souillac,MU,71.98,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
3,Ransang,PH,84.24,heavy intensity rain,8.9603,117.5828,Black and Crystal Sand Campsite
8,Laguna,US,85.01,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
10,Sao Filipe,CV,75.07,overcast clouds,14.8961,-24.4956,Hotel Xaguate
11,Tuktoyaktuk,CA,64.40,broken clouds,69.4541,-133.0374,End of The Road Ltd.
13,Ostrovnoy,RU,60.53,broken clouds,68.0531,39.5131,
14,Rikitea,PF,74.48,clear sky,-23.1203,-134.9692,People ThankYou
15,Zhenlai,CN,79.45,broken clouds,45.8495,123.2973,

In [9]:
# 7. Drop the rows where there is no Hotel Name.
# Found code from: https://stackoverflow.com/questions/49291740/delete-rows-if-there-are-null-values-in-a-specific-column-in-pandas-dataframe
hotel_df['Hotel Name'] = hotel_df['Hotel Name'].replace('', np.nan)
clean_hotel_df = hotel_df.dropna(axis=0, subset=['Hotel Name'])
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Jamestown,US,69.71,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
1,Male,MV,82.36,overcast clouds,4.1748,73.5089,Hotel Octave Maldives
2,Souillac,MU,71.98,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
3,Ransang,PH,84.24,heavy intensity rain,8.9603,117.5828,Black and Crystal Sand Campsite
8,Laguna,US,85.01,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
10,Sao Filipe,CV,75.07,overcast clouds,14.8961,-24.4956,Hotel Xaguate
11,Tuktoyaktuk,CA,64.40,broken clouds,69.4541,-133.0374,End of The Road Ltd.
14,Rikitea,PF,74.48,clear sky,-23.1203,-134.9692,People ThankYou
17,Busselton,AU,61.00,clear sky,-33.6500,115.3333,Observatory Guest House
18,Tabuk,PH,88.81,scattered clouds,17.4189,121.4443,Golden Berries Hotel and Convention

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../../Weather_Database/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))